doctype html
head
  meta(charset='utf-8')
  title Spritmonitor_Grundgerüst
  link(rel='stylesheet', type='text/css', href='global.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
header.header
  h1 Spritmonitor
  nav
    ul
      li.active
        a(href='#') Mein Profil
        ul
          li
            a(href='#') Profilinformationen
          li
            a(href='#') Meine Autos
          li
            a(href='#') Spritverlauf
          li
            a(href='#') Abmelden
      li
        a(href='#')
          input(type='text')
      li
        a(href='#') Suchen
      li
        a(href='#') Betankung
#content
  p CONTENT asdasdasdasdasdasdasdasdasdasd adasd asdasdasd adasd
