body {
    background-color: darkgray;
    font-family: Arial, "Lucida Sans Unicode";
    font-size: 87.5%;
    text-align: left;
}

.body {
    margin: 0 auto;
    width: 70%;
    clear: both;
}

a {
    text-decoration: none;
}

.header img {
    width: 100%;
    height: auto;
}

#logo {
    width: 50%;
}

.header nav {
    background-color: #666;
    height: 40px;
    border-radius: 5px;
    moz-border-radius: 5px;
    webkit-border-radius: 5px;
}

.header nav ul {
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    position: relative;
    display: inline-table;
}

.header nav ul:after {
    content: "";
    clear: both;
    display: block;
}

.header nav ul li {
    width: 15%;
    min-width: 116px;
    float: left;
    display: block;
}

.header nav a:link,
.header nav a:visited {
    color: white;
    display: inline-block;
    padding: 10px 25px;
    height: 20px;
}

.header nav a:hover,
.header nav a:active {
    background-color: #CF5C3F;
    color: #FFF;
    text-shadow: none;
}

.header nav .active a:hover,
.header nav .active a:active {
    background-color: #CF5C3F;
    color: #FFF;
    text-shadow: none;
    display: block
}

.header nav ul li a {
    display: block;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header nav ul ul {
    min-width: 180px;
    width: 20%;
    display: none;
    float: none;
    position: absolute;
    background-color: #666;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.header nav .active:hover > ul {
    display: block;
}

.header nav ul ul li {
    min-width: 180px;
    float: none;
    position: relative;
}

.header nav ul ul li a {
    padding: 10px 25px;
    color: #FFF;
}

.header nav ul ul li a:hover {
    background: #CF5C3F;
}

#myprofile {
    width: 20%;
    min-width: 180px;
}

#search {
    min-width: 250px;
    width: 40%;
}

#searchtext {
    float: left;
}

#searchicon {
    float: left;
    height: 21px;
    width: 25px;
}

h1 {
    color: black;
    font-family: Arial;
    font-size: 132.5%;
    font-weight: bold;
}

h2 {
    color: black;
    font-family: Arial, serif;
    font-size: 112.5%;
}

#content {
    line-height: normal;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    overflow: hidden;
    float: left;
}

button {
    text-overflow: ellipsis;
    overflow: hidden;
    background-color: cadetblue;
    width: auto;
    height: auto;
    padding: 0.5%;
    margin: 0.25%;
    border-radius: 5px;
    font-size: auto;
    font-family: Arial, serif;
    color: white;
}

#tanken {
    flex-grow: 2;
    flex-shrink: 1;
}

#profil {
    flex-basis: auto;
    flex-grow: 2;
}

#suchen {
    display: flex;
    box-sizing: border-box;
    float: left;
    height: auto;
    padding: 0.5%;
    flex-grow: 2;
    flex-shrink: 2;
    padding-left: 2%;
    padding-right: 2%
}