html
  head
    meta(charset='utf-8')
    title MySprit
    link(rel='stylesheet', type='text/css', href='/stylesheets/global.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body.body
    header.header
      img#logo(src='/img/Logo1.gif')
      nav
        ul
          li#myprofile.active
            a(href='#')
              img#menuicon(src='/img/menu.gif')
            ul
              li
                a(href='/profile') Profilinformationen
              li
                a(href='/fahrzeuge') Meine Autos
              li
                a(href='/spritverlauf') Spritverlauf
          li#search.active
            a(href='#')
              input#searchtext1(type='text', name='Herstellersuche', placeholder='Hersteller', list='herstellerlist')
              datalist#herstellerlist
                option(value='Audi')
                option(value='BMW')
                option(value='Mercedes')
              input#searchtext2(tyoe='text', name='Modellsuche', placeholder='Modell', list='modelllist')
              datalist#modelllist
                option(value='A3')
                option(value='A4')
              img#searchicon(src='/img/search.png ')
            ul
              li
                a(href='/erweiterteSuche') Erweiterte Suche
          li#refuel.active
            a(href='/neueBetankung')
              img#fuelicon(src='/img/fuel.gif')
            ul
              li
                a(href='#') Auto 1
              li
                a(href='#') Auto 2
          li#logout
            a(href='/logout')
              img#logouticon(src='/img/logout.gif')
    #content
      block content
