extend layout
block content
  head
    meta(charset='utf-8')
    title Profil_anlegen
  body
    #profilinfos
      h1 Neues Profil anlegen:
      #username
        p Username:
        input(type='text')
      #email
        p Email:
        input#em(type='email')
        p Email wiederholen:
        input#emw(type='email')
      #Passwort
        p Passwort:
        input#pw(type='password')
        p Passwort wiederholen:
        input#pww(type='password')
        p Passwörter müssen aus mindestens 6 Zeichen bestehen!
      button#submit(type='button') Profil anlegen
      script.
        var obj = document.getElementById("submit");
        obj.addEventListener("click", prüfen, false);
        function prüfen() {
        var pw = document.getElementById("pw").value;
        var pww = document.getElementById("pww").value;
        if (pw.length <= 6 || pww.length <= 6) {
        alert("Passwörter müssen mindestens 6 Zeichen lang sein!")
        }
        if (pw != pww) {
        alert("Passwort ist ungleich Passwortwiederholung!");
        } else {
        alert("Passwörter stimmen überein!");
        }
        var em = document.getElementById("em").value;
        var emw = document.getElementById("emw").value;
        if (em != emw) {
        alert("Email ist ungleich Emailwiederholung");
        } else {
        alert("Emailadressen stimmen überein!");
        }
        }