<html>
  <head>
    <% include ./partials/head %>
    <title>MySprit</title>
    
  </head>
  <body class="body">
    <% include ./partials/header %>
    <h1>Error 404 - Seite nicht gefunden</h1>
      <p>Sorry, da ist wohl etwas schief gelaufen :'(</p>
      <p>Zurück zur Startseite: </p>
      <p><a href="/startseite">Startseite</a></p>

  </body>
</html>