extend layout
block content
  body
    //
      <div id="container_demo" >
      <a class="hiddenanchor" id="toregister"></a>
      <a class="hiddenanchor" id="tologin"></a>
      <div id="wrapper">
    #login.animate.form
      form(action='mysuperscript.php', autocomplete='on')
        h1 Anmelden
        p
          label.uname(for='username') Benutzername 
          input#username(name='username', required='required', type='text')
        p
          label.youpasswd(for='password') Passwort 
          input#password(name='password', required='required', type='password')
        p.keeplogin
          input#loginkeeping(type='checkbox', name='loginkeeping', value='loginkeeping')
          label(for='loginkeeping') Eingeloggt bleiben
        p.login.button
          input(type='submit', value='Anmelden')
        p.signin.button
          input(type='submit', value='Registrieren')
    #register.animate.form
      form(action='mysuperscript.php', autocomplete='on')
        h1 Registrieren
        p
          label.uname(for='usernamesignup') Neuer Benutzername
          input#usernamesignup(name='usernamesignup', required='required', type='text')
        p
          label.youmail(for='emailsignup') Deine Emailadresse
          input#emailsignup(name='emailsignup', required='required', type='email')
        p
          label.youpasswd(for='passwordsignup') Neues Passwort 
          input#passwordsignup(name='passwordsignup', required='required', type='password')
        p
          label.youpasswd(for='passwordsignup_confirm') Passwort wiederholen 
          input#passwordsignup_confirm(name='passwordsignup_confirm', required='required', type='password')
        p.signin.button
          input(type='submit', value='Registrieren')
        p.change_link
          | Bereits registriert?
          a.to_register(href='#tologin')  Hier geht's zum Anmelden 
    //
      </div>
      </div>
