<html>
<head>
  <% include ./partials/head %>
  <title>MySprit</title>
    <script>
        var fahrzeugBeschreibungen = <%- JSON.stringify(beschreibung) %>
    </script>
</head>
<body class="body">
  <% include ./partials/header %>
  <div id="content">
    <h1>Neue Betankung:
      <form name="neueBetankung" method="post">
        <label for="Fahrzeug">Fahrzeug:</label>
        <select id="Fahrzeug" name="Fahrzeug">
            <option>Fahrzeug wählen</option>
        </select><br/>
        <label for="Datum">Datum:</label>
        <input name="Datum" type="date" value="2015-10-01"/><br/>
        <label for="Tachostand">Tachostand:</label>
        <input name="Tachostand" type="number"/><br/>
        <label for="Distanz">Distanz:</label>
        <input name="Distanz" type="number"/>Liter<br/>
        <label for="Menge">Menge:</label>
        <input name="Menge" type="number"/><br/>
        <label for="Vollbetankung">Vollbetankung:</label>
        <input name="Vollbetankung" type="checkbox" value="true"/><br/>
        <label for="Sorte">Sorte:</label>per JS automatisch 
        <select name="Sorte">
          <option>Super</option>
          <option>Super Plus</option>
            <option>E10</option>
            <option>Diesel</option>
            <option>Erdgas</option>
        </select><br/>
        <label for="Kosten">Kosten:</label>
        <input name="Kosten" type="number"/>€<br/>
        <label for="Bemerkung">Bemerkung:</label>
        <textarea name="Bemerkung"></textarea><br/>
        <label for="Reifen">Reifen:</label>
        <input name="Reifen" type="radio" value="Sommerreifen"/>Sommerreifen
        <input type="radio" name="Reifen" value="Winterreifen"/>Winterreifen
        <input type="radio" name="Reifen" value="Ganzjahresreifen"/>Ganzjahresreifen<br/>
        <label for="Fahrweise">Fahrweise:</label>
        <input name="Fahrweise" type="radio" value="sparsam"/>sparsam
        <input name="Fahrweise" type="radio" value="normal"/>normal
        <input name="Fahrweise" type="radio" value="schnell"/>schnell<br/>
        <label for="Strecken">Strecken:</label>
        <input name="Strecken" type="checkbox" value="Stadt"/>Stadt
        <input name="Strecken" type="checkbox" value="Land"/>Landstraße
        <input name="Strecken" type="checkbox" value="Autobahn"/>Autobahn<br/>
        <label>Extras:</label><br/>
        <label for="Tankstelle">Tankstelle:</label>
        <input name="Tankstelle"/><br/>
        <label for="Boardcomputer">Boardcomputer:</label>
        <input name="Boardcomputer" type="number"/>Liter/100km<br/>
        <button type="submit">Betankung hinzufügen</button>  
      </form>
    </h1>
  </div>
    <script src="/js/betankungHinzufuegen.js"></script>
    <script>fahrzeugAuswahl(fahrzeugBeschreibungen)</script>
</body>
</html>
