<html>
<head>
  <% include ./partials/head %>
  <title>MySprit</title>
</head>
<body class="body">
  <% include ./partials/header %>
  <div id="content">
    <h1>Neue Betankung:
        <form name="neueBetankung" method="post">
        <label>Fahrzeug:</label>
        <select>
          <option>KFZ 1</option>
          <option>KFZ 2</option>
        </select><br/>
        <label>Datum:</label>
        <input type="date" value="2015-10-01"/><br/>
        <label>Tachostand:</label>
        <input type="number"/><br/>
        <label>Distanz:</label>
        <input type="number"/>value dynamically<br/>
        <label>Menge:</label>
        <input type="number"/><br/>
        <label>Vollbetankung:</label>
        <input type="checkbox" value="true"/><br/>
        <label>Sorte:</label>per JS automatisch 
        <select>
          <option>Super</option>
          <option>E10</option>
        </select><br/>
        <label>Kosten:</label>
        <input type="number"/>€<br/>
        <label>Bemerkung:</label>
        <textarea></textarea><br/>
        <label>Reifen:</label>
        <input type="radio" name="reifen" value="Sommerreifen"/>Sommerreifen
        <input type="radio" name="reifen" value="Winterreifen"/>Winterreifen
        <input type="radio" name="reifen" value="Ganzjahresreifen"/>Ganzjahresreifen<br/>
        <label>Fahrweise:</label>
        <input type="radio" value="sparsam"/>sparsam
        <input type="radio" value="normal"/>normal
        <input type="radio" value="schnell"/>schnell<br/>
        <label>Strecken:</label>
        <input type="checkbox" value="Stadt"/>Stadt
        <input type="checkbox" value="Land"/>Landstraße
        <input type="checkbox" value="Autobahn"/>Autobahn<br/>
        <label>Extras:</label><br/>
        <label>Tankstelle:</label>
        <input/><br/>
        <label>Boardcomputer:</label>
        <input type="number"/>Liter/100km<br/>
       <button id="submit">NeueBetankung</button>
      </form>
    </h1>
  </div>
</body>
</html>