<html>
  <head>
    <meta charset="utf-8"/>
    <title>MySprit</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/global.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body class="body">
    <header class="header"><img id="logo" src="/img/Logo1.gif"/>
      <nav>
        <ul>
          <li id="myprofile" class="active"><a href="#"><img id="menuicon" src="/img/menu.gif"/></a>
            <ul>
              <li><a href="/profil">Profilinformationen</a></li>
              <li><a href="/fahrzeuge">Meine Autos</a></li>
              <li><a href="/spritverlauf">Spritverlauf</a></li>
            </ul>
          </li>
          <li id="search" class="active"><a href="#">
              <input id="searchtext1" type="text" name="Herstellersuche" placeholder="Hersteller" list="herstellerlist"/>
              <datalist id="herstellerlist">
                <option value="Audi"></option>
                <option value="BMW"></option>
                <option value="Mercedes"></option>
              </datalist>
              <input id="searchtext2" tyoe="text" name="Modellsuche" placeholder="Modell" list="modelllist"/>
              <datalist id="modelllist">
                <option value="A3"></option>
                <option value="A4"></option>
              </datalist><img id="searchicon" src="/img/search.png "/></a>
            <ul>
              <li><a href="/erweiterteSuche">Erweiterte Suche</a></li>
            </ul>
          </li>
          <li id="refuel" class="active"><a href="/neueBetankung"><img id="fuelicon" src="/img/fuel.gif"/></a>
            <ul>
              <li><a href="#">Auto 1</a></li>
              <li><a href="#">Auto 2</a></li>
            </ul>
          </li>
          <li id="logout"><a href="/logout"><img id="logouticon" src="/img/logout.gif"/></a></li>
        </ul>
      </nav>
    </header>
    <div id="content">
      <h1>Fahrzeugsuche
  <div id="Fahrzeugart">
    <label>Fahrzeugart</label>
    <select name="Fahrzeugart">
      <option>Alle</option>
      <option>PKW</option>
      <option>Nutzfahrzeug</option>
      <option>Zweirad</option>
      <option>Quad</option>
    </select>
  </div>
  <div id="Hersteller">
    <label>Hersteller</label>
    <select id="hersteller" name="Hersteller" onchange="updateModell(this.value)">
      <option value="0">Alle</option>
      <option value="1">Audi</option>
      <option value="2">BMW</option>
      <option value="3">Mercedes</option>
      <option value="4">Opel</option>
      <option value="5">Porsche</option>
    </select>
  </div>
  <div id="modellContainer">
    <label>Modell</label>
    <select id="modell"></select>
  </div>
  <div id="Kraftstoffart">
    <label>Kraftstoffart</label>
    <select name="Kraftstoffart">
      <option>Alle</option>
      <option>Diesel</option>
      <option>Benzin</option>
      <option>Autogas</option>
      <option>Elektro</option>
      <option>Hybrid</option>
    </select>
  </div>
  <div id="Kraftstoffsorte">
    <label>Kraftsotffsorte</label>
    <select name="Kraftstoffsorte">
      <option>Alle</option>
      <option>E10</option>
      <option>E5</option>
    </select>
  </div>
  <div id="Getriebeart">
    <label>Getriebeart</label>
    <select name="Getriebeart">
      <option>Alle</option>
      <option>Schaltgetriebe</option>
      <option>Automatik</option>
      <option>Stufenloses Getriebe</option>
      <option>Halb-Automatik</option>
      <option>Doppelkupplungsgetriebe</option>
    </select>
  </div>
  <div id="Modellname">
    <label>Modellname</label>
    <textarea></textarea>
  </div>
  <div id="Baujahr">
    <label>Baujahr</label>
    <textarea></textarea>bis
    <textarea></textarea>
  </div>
  <div id="Motorleistung">
    <label>Motorleistung</label>
    <textarea></textarea>bis
    <textarea></textarea>
    <select name="Leistung">
      <option>PS</option>
      <option>kW</option>
    </select>
  </div>
  <div id="Mindestkilometer">
    <label>Mindestkilometer</label>
    <textarea></textarea>km
  </div>
</h1>
    </div>
  </body>
</html>