<html>
<head>

  <% include ./partials/head %>
  <title>MySprit</title>
</head>
<body class="body">
  <% include ./partials/header %>
  <div id="content">
    <h1>Fügen Sie Ihrem Profil ein neues Fahrzeug hinzu:</h1>
    <form name="neuesFahrzeug" method="post">
      <label for="Fahrzeugtyp">Fahrzeugtyp:
        <select name="Fahrzeugtyp">
          <option value="Auto">Auto</option>
          <option value="Leichtkraftrad">Leichtkraftrad</option>
          <option value="Motorrad">Motorrad</option>
        </select>
      </label>
      <label for="Hersteller">Hersteller:
        <select name="Hersteller" id="Herstellerauswahl" onchange="updateModellAuswahl()"></select>
      </label><br/>
      <label for="Modell">Modell:
        <select name="Modell" id="Modellauswahl"></select>
      </label>
      <label for="Bezeichnung">Bezeichnung:
        <input name="Bezeichnung"/>
      </label><br/>
      <label for="Baujahr">Baujahr</label>
      <input type="number" name="Baujahr" value="2015"/><br/>
      <label for="Leistung">Leistung in PS</label>
      <input type="number" name="Leistung"/><br/>
      <label for="Antriebsart">Kraftstoffart:</label>
      <select name="Antriebsart">
        <option value="Benzin">Benzin</option>
        <option value="Diesel">Diesel</option>
        <option value="Erdgas">Erdgas</option>
        <option value="Elektro">Elektro</option>
      </select><br/>
      <label for="Getriebeart">Getriebeart</label>
      <select name="Getriebeart">
        <option>Manuell</option>
        <option>Automatik</option>
        <option>Sonstige</option>
      </select><br/>
      <label for="Kilometerstand">Kilometerstand:</label>
      <input type="number" name="Kilometerstand"/><br/>
      <button type="submit">Neues Fahrzeug anlegen</button>
    </form>
  </div>
  <script src="/js/neuesFahrzeug.js"></script>
</body>
</html>