<html>

<head>
    <% include ./partials/head %>
        <title>MySprit</title>
        <script>
            var fahrzeugBeschreibungen = <%- JSON.stringify(beschreibung) %>
        </script>

</head>

<body class="body">
    <% include ./partials/header %>
        <div id="content">
            <h1 class="eingeschobenh1">Meine Fahrzeuge</h1>
            <div class="bordercontainer">
                <select id="Fahrzeuge" name="Fahrzeuge">

                </select>

                <p>Noch kein Fahrzeug angelegt?</p>
                <button><a href="/neuesFahrzeug" style="color: #FFF">Fahrzeug anlegen</a></button>
            </div>
        </div>
        <script>
            var fahrzeugAuswahl = function (beschreibung) {
                var beschreibung = beschreibung;
                //var Beschreibung = fahrzeugBeschreibungen;
                var fahrzeuge = document.getElementById('Fahrzeuge');
                fahrzeuge.size = beschreibung.length;
                console.log("Fahrzeugbeschreibung: " + beschreibung);

                while (fahrzeuge.hasChildNodes()) {
                    fahrzeuge.removeChild(fahrzeuge.childNodes[0]);
                }

                for (var i = 0; i < beschreibung.length; i++) {
                    var option = document.createElement('option');
                    option.text = beschreibung[i];
                    option.value = beschreibung[i];
                    fahrzeuge.appendChild(option);
                }
            }
        </script>
        <script>
            fahrzeugAuswahl(fahrzeugBeschreibungen)
        </script>
</body>

</html>