<html>
  <head>
    <% include ./partials/head %>
    <title>MySprit</title>
    
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
      <div>Fahrzeuge, die dem Profil zugewiesen sind!</div>
      <p>Neues Fahrzeug <a href="/neuesFahrzeug">anlegen</a>.</p>
    </div>
  </body>
</html>