<html>
  <head>
    <% include ./partials/head %>
    <title>MeineBetankungen</title>
    <script type="text/javascript">
      console.log(user);
    </script>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
        
    <table border="">
      <span>
        <tr> <!-- erste Zeile -->
            <th>Betankung Nr:</th>
            <th>Datum</th>
            <th>Kraftstoff</th>
            <th>Liter</th>
            <th>Kilometer</th>
        </tr>
        <% for(var i=0; i < betankungen.length; i++) { %>
            <tr>
                <td>i</td>
                <td><%= betankungen[i].Datum %></td>
                <td><%= betankungen[i].Kraftstoff%></td>
                <td><%= betankungen[i].Liter%></td>
                <td><%= betankungen[i].Kilometer%></td>
            </tr>
          <% } %>
      </span>
    </table>
    </div>
  </body>
</html>