<html>
  <head>
    <% include ./partials/head %>
    <title>Mein Profil</title>
  </head>
  <body class="body" onload="test()">
    <% include ./partials/header %>
    <div id="content">
      <span>
          <br>
       <a>UserID:</a> 
          <br>
          <a>Email:</a>
          <br>
          <a>Passwort: *****</a>
          <br>
      </span>
        <button type="button" id="ProfilLoeschen" onclick="deleteProfil()">Profil löschen</button>
    </div>
      <script src="/js/profilinformation.js"></script>
      <script src="/js/profildetails.js"></script>
  </body>
</html>