extend layout
block content
  head
    meta(charset='utf-8')
    title Profilinfos
  body
    h1 Profilinformationen
    #username
      p Username: 
      p Flo
    div
      p Email: 
      p flo.bauer@email.de
    button Email ändern
    button Passwort ändern
