<html>
<head>
	<% include ./partials/head %>
	<title>Mein Profil</title>
</head>
<body class="body">
	<% include ./partials/header %>
	<div id="content">
		<h1>Profilinformationen ändern:</h1>
		
		<form action="profilAendern" method="post" enctype="multipart/form-data">
			<input type="file" name="file"/>
			<button type="submit">Bild hochladen</button>  
		</form>
        
        <label for="eMail">Email ändern:</label>
        <input name="Emailadresse" type="string" value=""/><br/>
        <label for="password">Passwort ändern:</label>
        <input name="Passwort" type="string" value="*****"/><br/>
        
        <button type="submit">Speichern</button>
	</div>
</body>
</html>