<html>
  <head>
    <% include ./partials/head %>
    <title>Mein Profil</title>
    <script type="text/javascript">
      var user = <%- JSON.stringify(user) %>
      console.log(user);
    </script>
  </head>
  <body class="body" onload="test()">
    <% include ./partials/header %>
    <div id="content">
      <span>
          <br>
       <a>UserID: <%= user.id %> </a> 
          <br>
          <a>Email: <%= user.email %></a>
          <br>
          <a>Passwort: *****</a>
          <br>
      </span>
        <button type="button" id="ProfilLoeschen" onclick="deleteProfil()">Profil löschen</button>
    </div>
      <script src="/js/profilinformation.js"></script>
  </body>
</html>