<html>
  <head>
    <% include ./partials/head %>
    <title>Mein Profil</title>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
      <span>
        UserID: 
        Email:
        Passwort:
      </span>
    </div>
  </body>
</html>