<html>
  <head>
    <% include ./partials/head %>
    <title>Spritverlauf</title>
    
      
     
      
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
      <div style="width: 700px height: 400px">
          <canvas id="canvas" width="700" height="400" style="width: 100%"></canvas>
      </div>
    </div>
      <!-- <script src="/js/kreisdiagrammJS.js"></script>
      <script src="/js/legendeKREIS.js"></script> -->
      <script src="/js/VerlaufJS.js"></script>
      <div>Tabellarische Ansicht <a href="/meineBetankungen">Hier</a></div>
  </body>
</html>