<html>
  <head>
    <% include ./partials/head %>
    <title>Spritverlauf</title>
    
      
      <script src="/developement/public/js/kreisdiagrammJS.js"></script>
      <script src="/developement/public/js/VerlaufJS.js"></script>
      <script src="/developement/public/js/legendeKREIS.js"></script>
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
      <div>Hier soll der Spritverlauf angezeigt werden!</div>
    </div>
  </body>
</html>