<html>
  <head>
    <% include ./partials/head %>
    <title>MySprit</title>
    
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
    
        <h1>Willkommen bei Spritmonitor</h1>
        <div class="beschreibung">
           
      <p>Wir bieten ihnen eine Übersicht über ihren Spritverbrauch. In nur drei einfachen Schritten steht Ihnen alles zur Verfügung.</p>
      
      <p>Legen Sie zuerst ein Auto bei uns an: <a href="/neuesFahrzeug">Hier</a></p>
      
      <p>Halten Sie Ihre Betankungen bei uns fest: <a href="/neueBetankung">Hier</a></p>
      
      <p>Werten Sie Ihre Daten aus: <a href="/spritverlauf">Hier</a></p>
 
            <ul class="kacheln">
                <li id="profilkachel"><a href="/profil">Profilinfos</a></li>
                <li id="autokachel"><a href="/fahrzeuge">Meine Autos</a></li>
                <li id="betankungkachel"><a href="neueBetankung">Betankung Hinzufügen</a></li>
                <li id="verlaufkachel"><a href="/spritverlauf">Mein Spritverlauf</a></li>
            </ul>

 
      
    </div>
  </body>
</html>