<html>
  <head>
    <% include ./partials/head %>
    <title>MySprit</title>
    
  </head>
  <body class="body">
    <% include ./partials/header %>
    <div id="content">
      <div>Startseite</div>
        <h1>Willkommen bei Spritmonitor</h1>
      <p>Wir bieten ihnen eine Übersicht über ihren Spritverbrauch. In nur drei einfachen schritten steht ihnen alles zur verfügung</p>
      
      <p>legen Sie zuerst ein Auto bei uns an <a href="/neuesFahrzeug">Hier</a></p>
      
      <p>Halten Sie ihre Betankungen bei uns fest <a href="/Betankunghinzufuegen">Hier</a></p>
      
      <p>Werten Sie ihre Daten aus!<a href="/spritverlauf">Hier</a></p>
      
    </div>
  </body>
</html>