<html>

<head>
    <% include ./partials/head %>
        <title>MySprit</title>

</head>

<body class="body">
    <% include ./partials/header %>
        <h1 id="startseitenh1">Willkommen bei MySprit</h1>


        <div id="startseiteninhalt">
            <div id="hinweisneu">
                <h2>Neu bei MySprit?</h2>
                <p>Wir bieten ihnen eine Übersicht über ihren Spritverbrauch.</p>
                <p>In nur drei einfachen Schritten steht Ihnen alles zur Verfügung!</p>
                <p>Aber legen Sie doch zuerst ein Auto bei uns an:</p>
                <button><a class="buttonhref" href="/neuesFahrzeug">Hier</a></button>
                <p>Alles Weitere finden Sie bequem in den Kacheln oder der Navigationsleiste.</p>

            </div>
            <ul class="kacheln">
                <li id="profilkachel"><a class="einzeilerref" href="/profil">Profilinfos</a></li>
                <li id="autokachel"><a class="einzeilerref" href="/fahrzeuge">Meine Autos</a></li>
                <li id="betankungkachel"><a class="zweizeilerref" href="neueBetankung">Betankung Hinzufügen</a></li>
                <li id="verlaufkachel"><a class="zweizeilerref" href="/spritverlauf">Mein Spritverlauf</a></li>
            </ul>

        </div>







</body>

</html>