extend layout
block content
  head
    meta(charset='utf-8')
  body
    #Hersteller
      label Hersteller
      select#hersteller(name='Hersteller', onchange='updateModell(this.value)')
        option(value='0') Alle
        option(value='1') Audi
        option(value='2') BMW
        option(value='3') Mercedes
        option(value='4') Opel
        option(value='5') Porsche
    #ModellAlle
      label Modell
      select(name='Modell')
        option Alle
        option A1
        option 5er
        option C-Klasse
        option Corsa
        option 911
    #ModellAudi
      label Modell
      select(name='ModellAudi')
        option Alle
        option A1
        option A2
        option A3
        option A4
        option RS6

script.

    = function updateModell(hersteller){
        console.log(hersteller);
        if (hersteller == 1){
            console.log("Audi ausgewählt");
            document.getElementById("ModellAudi").style.display = "block";
            document.getElementById("ModellAlle").style.display = "none";
        }
    }