<html>
    <head>
    </head>
    <body>
    
        <div class="tabelle">
            <table>
                <tr>
                    <th>Durchschnittsverbrauch:</th><td>data</td>
                </tr>
                <tr>
                    <th>Reifen: (IMMER ANZEIGEN!)</th><th>Sommerreifen:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>Winterreifen:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>Ganzjahresreifen:</th><td>data</td>
                </tr>
                <tr>
                    <th>Fahrweise: (IMMER ANZEIGEN!)</th><th>sparsam:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>normal:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>schnell:</th><td>data</td>
                </tr>
                <tr>
                    <th>Strecken: (IMMER ANZEIGEN!)</th><th>Stadt:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>Landstraße:</th><td>data</td>
                </tr>
                <tr>
                    <th></th><th>Autobahn:</th><td>data</td>
                </tr>
                <tr>
                    <th>Kraftstoff:</th><th>(Art des Krafstoffes des Autos)</th><td>data</td>
                </tr>
                <tr>
                    <th>Kosten (kumuliert):</th><td>data</td>
                </tr>
            
            </table>
        
        
        </div>
    
    </body>

</html>